

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navegacion{
    width: 100vw;
    height: 90px;
    display: flex;
    background-color: rgb(156, 156, 156);
    padding: 50px;
    justify-content: space-around;  
    
}

.head{
    display: flex ;
    align-items: center;
    
}

.icon{
    display: flex;
    width: 200px;
    height: auto;
    
    position: absolute; left: 5px; top: 2px;   
}

.inf{

display: flex;
padding: 10px;
align-items: center; 

}

.textos{
    padding: 150px;
    color: aliceblue;
    font-size: 20px;
}

