
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.contador{
display: flex;
width: 200px;
border-radius: 5px;
color: rgb(0, 0, 0);
padding-left: 112px;
padding-top: 10px;
text-align: center;
font-size: 15px;


}

.boton{
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 10px;
    align-items: center;
    
    
}